@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Gudea:ital,wght@0,400;0,700;1,400&family=Oxygen:wght@300;400;700&family=Ruluko&display=swap');

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ruluko-regular {
    font-family: "Ruluko", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.gudea-regular {
    font-family: "Gudea", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.oxygen-light {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}