h2{
    font-family: Fugaz One;
    font-size: 4vw;
    color: #0D3718;
}



.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .link{
    font-size: 1.55vw;
    background-color: #FFF; 
    border: solid 2px #797D4A; 
    border-radius: 4px;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    box-sizing: border-box; 
    font-size: 1.55vw; 
    color: #353538; 
    font-weight: 600; 
    font-family: inherit;
    transition: box-shadow .2s linear, border-color .25s ease-out;
    
  }

  .button {
    border: 2px solid #797D4A;
    border-radius: 5px;
    color: #FFFFFF;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-size: 1.55vw;
    background-color: #797D4A;
    cursor: pointer;
    transition-duration: 0.2s;
}
    .button:hover {
    background-color: #b8bd74;
    color: #FFFFFF;
}


@media (max-width: 800px) {
    h2{
        font-size: 8vw;
    }
    .button, .link{
        font-size: 3.5vw;
    }
}