
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Fugaz+One&family=Gudea:ital,wght@0,400;0,700;1,400&family=Oxygen:wght@300;400;700&family=Ruluko&display=swap');

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ruluko-regular {
    font-family: "Ruluko", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.gudea-regular {
    font-family: "Gudea", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.oxygen-light {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.fascinate-regular {
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    font-style: normal;
}

* {
    text-align: center;
}

body {
    position: relative;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    height: 100vh;
    background-color: #0D3718;
}

.home{
    position: relative;
    height: 100vh;
    overflow: hidden;
    align-content: center;
}

.home:before{
    content: "";
    position: fixed;
    width: calc(100vw*sin(60deg) + 100vh*sin(30deg));
    height: calc(100vh*sin(60deg) + 100vw*sin(30deg));
    top: 0;
    left: 0;
    background-image: url("backgroundtext.svg");
    background-attachment: fixed;
    background-size: 50%;
    transform-origin: top left;
    transform: rotate(-30deg) translatex(calc(-100vh*sin(30deg)));
    z-index: -1;
}

.downarrow{
    position: fixed;
    z-index: -1;
    bottom: 40px;
    left:50%;
    transform: translateX(-50%) rotate(45deg) scale(350%);
    border: solid #E6E6D5;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

h1 {
    font-family: Fugaz One;
    font-size: min(15vh, 22vw);
    color: #E6E6D5;
    padding-top: 0;
    padding-bottom: 0em;
    margin: 0px;
}


.tag {
    font-family: Ruluko;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 3vh;
    color: #D4D6BF;
}

form {
    position: relative; display: block; height: auto; margin: auto; padding: 0.55em;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

    input[type='text'] {
        display: block; margin: auto; padding: 0.75em 0.75em 0.75em;
        background-color: #FFF; border: solid 2px #FFF; border-radius: 4px;
        box-sizing: border-box;
        width: clamp(35%, 300px, 75%); height: 3.5em;
        font-size: 1.25em; color: #353538; font-weight: 600; font-family: inherit;
        transition: box-shadow .2s linear, border-color .25s ease-out;
    }
    input[type='text']:focus {
        outline: none;
        box-shadow: 0px 2px 10px rgba(0,0,0,.2);
        border: solid 2px #98dcff;
    }


    .field {
        border: solid 1px black; border: none;
        margin: auto; padding: 0 0 1.5em; position: relative;
        .helper {
            position: absolute; z-index: 1;
            font-family: inherit;
        }
        ::placeholder{
            color: #b8b8c1;
        }
        .helper2 {
            bottom: 5.9em; right: 29.4em;
            font-size: .85em; color: #FFF; font-weight: 600; opacity: 0;
            transition: opacity .2s linear;
        }
        &.focusWithText {
            .helper1 {
                opacity: 0;
            }
            .helper2 {
                opacity: .75;
            }
        }
    }
}
.button {
    border: 2px solid #797D4A;
    border-radius: 15px;
    font-family: "Fugaz One";
    color: #FFFFFF;
    font-size: 56px;
    width: clamp(35%, 300px, 75%);
    height: 1.70em;
    background-color: #797D4A;
    cursor: pointer;
    transition-duration: 0.2s;
}
.button:hover {
    background-color: #b8bd74;
    color: #FFFFFF;
}

.scroll {
    margin: auto;
    background-color: #E6E6D5;
    width: 80vw;
}

.content {
    margin:auto;
    width: 60vw;
}

h3 {
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0;
}
.info {
    font-family: Gudea;
    font-size: max(5vh, 48px);
    font-weight: lighter;
    color: #0b3114;
}

p1, p2 {
    font-family: Oxygen;
    font-size: max(3vh, 28px);
    font-weight: normal;
    color: #0b3114;
}

footer{
    font-family: Oxygen;
    font-size: 18px;;
    padding-top: 25px;
    padding-bottom: 25px;
}