section {
    position: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 1%;
}

table, td {
    border: 1px solid #828282;
    /* border-collapse: collapse; */
  }
  th {
    border-left: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table {
    background-color: #FFFFFF;
      display: flex;
      flex-flow: column;
      width: 100%;
      max-height: var(--container-height);
      
  }
  
  thead {
      padding-right: 13px;
      flex: 0 0 auto;
  }
  
  tbody {
      flex: 1 1 auto;
      display: block;
      overflow-y: auto;
      overflow-x: hidden;
  }
  
  tr {
      width: 100%;
      display: table;
      table-layout: fixed;
      padding: 20px;
      scroll-snap-align: start;
  }

  td {
    font-family: Gudea;
    font-size: 2vw;
    padding: .5vw;
    width: 100%;
  }

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 calc(var(--container-height) / -1);
    }
}

/* Demo styles */

*,
*::before,
*::after {
box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #cccccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #797D4A;
    border-radius: 10px;
}

/* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555834;
}

@media (max-width: 800px) {
    table{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    td{
        font-size: 5vw;
    }
}